apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: msal-net-proxy-az-file-pv-claim
spec:
    accessModes:
    - ReadWriteMany
    storageClassName: azurefile
    resources:
        requests:
            storage: 5Gi